.members {
  position: relative;
  padding-top: 64px;
  color: #fff;
}

.text {
  margin-top: 16px;
  text-align: center;
  white-space: pre-wrap;
  line-height: 1.8;
  font-size: 20px;
}

.row {
  width: 100%;
}

.statementLink{
  display: block;
  width: 240px;
  padding: 8px 0;
  margin: 32px auto 0;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 4px;
  transition: 0.2s;
}

.statementLink:hover {
  text-decoration: none;
  color: #fff;
  background: #fff8;
}

.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
}

.icon {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
